h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: Arial, Helvetica;
	color: $baseheadingcolor;
}
h1, .h1
{
	font-size: 2em;
	padding: .5em;

}
h2, .h2
{
	font-size: 1.5em;
	padding: .5em;

}
h3, .h3
{
	font-size: 1.20em;
	padding: .5em;
}

